# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
.vs/
x64/
Debug/
Release/
*.vcxproj.user
*.suo
*.sdf
*.opensdf
*.db
*.opendb
ipch/


# Claude
.claude/

# build
build/
.mcp.json
StarRupture SDK/Xenos.log
StarRupture SDK/XenosCurrentProfile.xpr
